{% extends 'home.html' %}
{% block 'crud' %}
    <h2>READ & EDITE TRAINEES:</h2> 
    <form method="POST" class="my-4">
        {% csrf_token %}
        <!-- EXTREMELY IMPORTANT whenever you use POST method -->
        <div class="form-group">
            <label for="id">Type a Trainee ID or * to read all Trainees :</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="'id' for specific tarinee or '*' for all users">
            <br>
        </div>
        <button type="submit" class="btn btn-primary">SELECT TRAINEE/S</button>
    </form>
    <p class="text-danger h4 text-center">{{msg}}</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
            {% for t in alltrainees %}
                <tr>
                    <th scope="row">{{t.id}}</th>
                    <td>{{t.first_name}} {{t.last_name}}</td>
                    <td>{{t.email}}</td>
                    <td><a href="/amazon/update/{{t.id}}" class="btn btn-info me-2">UPDATE</a><a href="/amazon/delete/{{t.id}}" class="btn btn-danger">DELETE</a></td>
                </tr>
            {% endfor %}
            {% if selectedtrainee %}
            <tr>
                <th scope="row">{{selectedtrainee.id}}</th>
                <td>{{selectedtrainee.first_name}} {{selectedtrainee.last_name}}</td>
                <td>{{selectedtrainee.email}}</td>
                <td><a href="/amazon/update/{{selectedtrainee.id}}" class="btn btn-info me-2">UPDATE</a><a href="/amazon/delete/{{selectedtrainee.id}}" class="btn btn-danger">DELETE</a></td>
            </tr>
            {% endif %}

        </tbody>
      </table>

{% endblock %}